:root {
  --blue1: #005B9A;
  --blue2: #0191C8;
  --blue3: #74C2E1;
  --gray1: #8C8984;
  --gray2: lightgray;
  --creme: #fffdf0;}

/* Tags */
body {
  background-color: var(--blue1);
  margin:0;
  padding:0;
}

form {
  border: 3px solid var(--gray2);
  background:white;
}

button {
  border:none;
}

button:hover {
  opacity: .8;
}
/* Classes */
.cl1 {
  width: 2%;
}

.cl2 {
  padding-left: 5px;
  width: 48%;
}

.cl3 {
  width: 50%;
}
.column {
  float:left;
  padding:0px;
  margin:0;
  /* width:46.94%; */
  width:50%;
  /* width:% */
}

.left {
  background-color: var(--blue2);
  height:25%;
  /* overflow-y: scroll; */
}

.logout {
    bottom: 0px;
    position: fixed;
    margin:0;
    width:100%;
}

.right {
  background-color: var(--blue3);
  /* width:50%; */
  padding:0;
}

.row:after {
  content: "";
    display: table;
    clear: both;
}

.imgsignin {
  text-align: center;
  margin:0;
  padding: 10px 0 0 0;
  background-color: white;
}

.header {
  font-size: 32px;
  font-weight: bold;
  background-color: var(--blue3);
  text-align: center;
  margin: 0 0 5px 0;
  width: 100%;

}

.signin {
  padding: 20px;
  background-color: white;
}

input.signin {
  width:100%;
  padding: 10px 15px;
  background-color: white;
  margin: 5px;
}

.loginbtn {
  background-color: lightgreen;
  width: 100%;
  padding:10px;
  margin:10px 0 0 0;
}

ul.task {
  list-style-type: none;
}

div.task {
  background-color: white;
  margin:0;
  padding:5px;
  border: 1px solid lightgray;
  width:100%;
}

div.task:hover{
  opacity: .8;
}
a {
  display:block;
}
table {
  width:100%;
  text-align: left;
}

td {
  /* width: 50%; */
}
/* IDs */
